Library/SIS.Courses/Service References/API/enterprisecourse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:eclg:coursecopy:enterprisecourse" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:eclg:coursecopy:enterprisecourse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_EnterpriseCourseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:eclg:coursecopy:enterprisecourse/Imports">
      <xsd:import namespace="urn:eclg:coursecopy:enterprisecourse" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://CCWS-Services.eCollege.com/EnterpriseServices/Types/v2.2/" />
      <xsd:import namespace="http://Common.eCollege.com/faults/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EnterpriseCourseService_CopyCourseContent_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyCourseContent" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CopyCourseContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyCourseContentResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CopyCourseContent_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:ArgumentException" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CopyCourseSection_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyCourseSection" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CopyCourseSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyCourseSectionResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CopyCourseSection_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:ArgumentException" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CopyCourseSectionAndContent_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyCourseSectionAndContent" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CopyCourseSectionAndContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyCourseSectionAndContentResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CopyCourseSectionAndContent_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:ArgumentException" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CreateCourseSection_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCourseSection" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CreateCourseSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCourseSectionResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CreateCourseSection_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:ArgumentException" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_CreateCourseSection_ParameterNullFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://Common.eCollege.com/faults/" name="detail" element="q5:ParameterNullFault" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_UpdateCourseSection_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourseSection" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_UpdateCourseSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourseSectionResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_UpdateCourseSection_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/System" name="detail" element="q6:ArgumentException" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_RemoveCourseCallNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCourseCallNumbers" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_RemoveCourseCallNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCourseCallNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseCourseService_RemoveCourseCallNumbers_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/System" name="detail" element="q7:Exception" />
  </wsdl:message>
  <wsdl:portType name="EnterpriseCourseService">
    <wsdl:operation name="CopyCourseContent">
      <wsdl:input wsaw:Action="urn:eclg:coursecopy:enterprisecourse:copycoursecontent:request" message="tns:EnterpriseCourseService_CopyCourseContent_InputMessage" />
      <wsdl:output wsaw:Action="urn:eclg:coursecopy:enterprisecourse:copycoursecontent:reply" message="tns:EnterpriseCourseService_CopyCourseContent_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:eclg:coursecopy:enterprisecourse/EnterpriseCourseService/CopyCourseContentArgumentExceptionFault" name="ArgumentExceptionFault" message="tns:EnterpriseCourseService_CopyCourseContent_ArgumentExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyCourseSection">
      <wsdl:input wsaw:Action="urn:eclg:coursecopy:enterprisecourse:copycoursesection:request" message="tns:EnterpriseCourseService_CopyCourseSection_InputMessage" />
      <wsdl:output wsaw:Action="urn:eclg:coursecopy:enterprisecourse:copycoursesection:reply" message="tns:EnterpriseCourseService_CopyCourseSection_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:eclg:coursecopy:enterprisecourse/EnterpriseCourseService/CopyCourseSectionArgumentExceptionFault" name="ArgumentExceptionFault" message="tns:EnterpriseCourseService_CopyCourseSection_ArgumentExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyCourseSectionAndContent">
      <wsdl:input wsaw:Action="urn:eclg:coursecopy:enterprisecourse:copycoursesectionandcontent:request" message="tns:EnterpriseCourseService_CopyCourseSectionAndContent_InputMessage" />
      <wsdl:output wsaw:Action="urn:eclg:coursecopy:enterprisecourse:copycoursesectionandcontent:reply" message="tns:EnterpriseCourseService_CopyCourseSectionAndContent_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:eclg:coursecopy:enterprisecourse/EnterpriseCourseService/CopyCourseSectionAndContentArgumentExceptionFault" name="ArgumentExceptionFault" message="tns:EnterpriseCourseService_CopyCourseSectionAndContent_ArgumentExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCourseSection">
      <wsdl:input wsaw:Action="urn:eclg:coursecopy:enterprisecourse:createcoursesection:request" message="tns:EnterpriseCourseService_CreateCourseSection_InputMessage" />
      <wsdl:output wsaw:Action="urn:eclg:coursecopy:enterprisecourse:createcoursesection:reply" message="tns:EnterpriseCourseService_CreateCourseSection_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:eclg:coursecopy:enterprisecourse/EnterpriseCourseService/CreateCourseSectionArgumentExceptionFault" name="ArgumentExceptionFault" message="tns:EnterpriseCourseService_CreateCourseSection_ArgumentExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="urn:eclg:coursecopy:enterprisecourse/EnterpriseCourseService/CreateCourseSectionParameterNullFaultFault" name="ParameterNullFaultFault" message="tns:EnterpriseCourseService_CreateCourseSection_ParameterNullFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCourseSection">
      <wsdl:input wsaw:Action="urn:eclg:coursecopy:enterprisecourse:updatecoursesection:request" message="tns:EnterpriseCourseService_UpdateCourseSection_InputMessage" />
      <wsdl:output wsaw:Action="urn:eclg:coursecopy:enterprisecourse:updatecoursesection:reply" message="tns:EnterpriseCourseService_UpdateCourseSection_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:eclg:coursecopy:enterprisecourse/EnterpriseCourseService/UpdateCourseSectionArgumentExceptionFault" name="ArgumentExceptionFault" message="tns:EnterpriseCourseService_UpdateCourseSection_ArgumentExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCourseCallNumbers">
      <wsdl:input wsaw:Action="urn:eclg:coursecopy:enterprisecourse:removecoursecallnumbers:request" message="tns:EnterpriseCourseService_RemoveCourseCallNumbers_InputMessage" />
      <wsdl:output wsaw:Action="urn:eclg:coursecopy:enterprisecourse:removecoursecallnumbers:reply" message="tns:EnterpriseCourseService_RemoveCourseCallNumbers_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:eclg:coursecopy:enterprisecourse/EnterpriseCourseService/RemoveCourseCallNumbersExceptionFault" name="ExceptionFault" message="tns:EnterpriseCourseService_RemoveCourseCallNumbers_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_EnterpriseCourseService" type="tns:EnterpriseCourseService">
    <wsp:PolicyReference URI="#CustomBinding_EnterpriseCourseService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CopyCourseContent">
      <soap12:operation soapAction="urn:eclg:coursecopy:enterprisecourse:copycoursecontent:request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CopyCourseSection">
      <soap12:operation soapAction="urn:eclg:coursecopy:enterprisecourse:copycoursesection:request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CopyCourseSectionAndContent">
      <soap12:operation soapAction="urn:eclg:coursecopy:enterprisecourse:copycoursesectionandcontent:request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCourseSection">
      <soap12:operation soapAction="urn:eclg:coursecopy:enterprisecourse:createcoursesection:request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ParameterNullFaultFault">
        <soap12:fault use="literal" name="ParameterNullFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCourseSection">
      <soap12:operation soapAction="urn:eclg:coursecopy:enterprisecourse:updatecoursesection:request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCourseCallNumbers">
      <soap12:operation soapAction="urn:eclg:coursecopy:enterprisecourse:removecoursecallnumbers:request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>