Library/SIS.Courses/Service References/API/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Common.eCollege.com/faults/" elementFormDefault="qualified" targetNamespace="http://Common.eCollege.com/faults/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParameterNullFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ParameterFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParameterNullFault" nillable="true" type="tns:ParameterNullFault" />
  <xs:complexType name="ParameterFault">
    <xs:sequence>
      <xs:element name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterFault" nillable="true" type="tns:ParameterFault" />
</xs:schema>