Library/SIS.Terms/Service References/API/enterpriseterm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:eclg:coursecopy:enterpriseterm" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:eclg:coursecopy:enterpriseterm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_EnterpriseTermService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:eclg:coursecopy:enterpriseterm/Imports">
      <xsd:import namespace="urn:eclg:coursecopy:enterpriseterm" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://CCWS-Services.eCollege.com/EnterpriseServices/Types/v2.2/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EnterpriseTermService_CreateStandardTerm_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStandardTerm" />
  </wsdl:message>
  <wsdl:message name="EnterpriseTermService_CreateStandardTerm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStandardTermResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseTermService_CreateStandardTerm_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:ArgumentException" />
  </wsdl:message>
  <wsdl:message name="EnterpriseTermService_UpdateStandardTerm_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStandardTerm" />
  </wsdl:message>
  <wsdl:message name="EnterpriseTermService_UpdateStandardTerm_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStandardTermResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseTermService_UpdateStandardTerm_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:ArgumentException" />
  </wsdl:message>
  <wsdl:portType name="EnterpriseTermService">
    <wsdl:operation name="CreateStandardTerm">
      <wsdl:input wsaw:Action="urn:eclg:coursecopy:enterpriseterm:createstandardterm:request" message="tns:EnterpriseTermService_CreateStandardTerm_InputMessage" />
      <wsdl:output wsaw:Action="urn:eclg:coursecopy:enterpriseterm:createstandardterm:reply" message="tns:EnterpriseTermService_CreateStandardTerm_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:eclg:coursecopy:enterpriseterm/EnterpriseTermService/CreateStandardTermArgumentExceptionFault" name="ArgumentExceptionFault" message="tns:EnterpriseTermService_CreateStandardTerm_ArgumentExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStandardTerm">
      <wsdl:input wsaw:Action="urn:eclg:coursecopy:enterpriseterm:updatestandardterm:request" message="tns:EnterpriseTermService_UpdateStandardTerm_InputMessage" />
      <wsdl:output wsaw:Action="urn:eclg:coursecopy:enterpriseterm:updatestandardterm:reply" message="tns:EnterpriseTermService_UpdateStandardTerm_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:eclg:coursecopy:enterpriseterm/EnterpriseTermService/UpdateStandardTermArgumentExceptionFault" name="ArgumentExceptionFault" message="tns:EnterpriseTermService_UpdateStandardTerm_ArgumentExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_EnterpriseTermService" type="tns:EnterpriseTermService">
    <wsp:PolicyReference URI="#CustomBinding_EnterpriseTermService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateStandardTerm">
      <soap12:operation soapAction="urn:eclg:coursecopy:enterpriseterm:createstandardterm:request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateStandardTerm">
      <soap12:operation soapAction="urn:eclg:coursecopy:enterpriseterm:updatestandardterm:request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFault">
        <soap12:fault use="literal" name="ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>